#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	./build.sh clean || true

# IMPORTANT: avoid infinite loop with dpkg-buildpackage
override_dh_auto_build:
	@echo "Skipping dh_auto_build (no compile step needed)."
